.main-btn {
  background-color: #17a1cf;
  padding: 1rem 2rem;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: #EDEDED;
  text-transform: uppercase;
  margin: 0 auto;
  grid-column: 2;
  font-weight: bold;
}
.main-btn:hover {
  background-color: rgb(28.2, 179.4, 229.8);
}