@use 'vars' as v;
@use 'sass:color';

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
    min-height: 100%;
    background-color: v.$black;
    color: v.$white;
}
.container  {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding:1rem;
}
.container-sm {
    max-width: 70rem;
    margin: 0 auto;
    padding:1rem;
}
a {
    text-decoration: none;
    color: v.$white;
}
img {
    max-width: 100%;
}