@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Fonts
$fuente_headings: 'Inter', sans-serif;
$fuente_textos:  "Rubik", sans-serif;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$mainColor: #17a1cf;
$black: #171717;
$white: #fff;
$gray: #9d999c;

$greenLight: #A7D78D;
$greenDark: #507D2A;
$beige: #E6E2D3;
$terracotta: #C97B63;
$soilBrown: #5C4B3B;
$skyBlue: #87C5DB;
$mustard: #D9A441;
$brickRed: #A84448;
$grayLight: #ECECEC;
$grayDark: #444444;